* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}


body {
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

#root {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.book {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.topic {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444;
}
.reference {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
.content {
    font-size: 16px;
    line-height: 1.5;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.instructions {
    font-size: 14px;
    color: #e61d1d;
    margin-top: 10px;
    text-align: center;
}

/* form styles */
#participant-form {
    background-color: #007BFF;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participant-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

#participant-form button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}